# Direktori node_modules/ berisi dependensi proyek yang diinstal melalui npm atau yarn
node_modules/

# Direktori dist/ atau public/ berisi file hasil build atau output dari proyek
dist/
public/

# Direktori .idea/ atau .vscode/ berisi pengaturan proyek spesifik untuk editor
.idea/
.vscode/