@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background: theme('colors.wash-me');
    }
}

@layer components {
    .content-container {
        max-width: theme('maxWidth.7xl');
        margin: 0 theme('margin.auto');
        padding: 0 theme('padding.4');

        @media screen(sm) {
            padding: 0 theme('padding.5');
        }
    }
}