@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html {
        scroll-behavior: smooth;

        & body {
            background-color: theme("colors.wash-me");
        }
    }
}

@layer components {
    /* .topBarSwiper-container {
        width: theme("width.full");
        height: theme("height.9");
    } */

    .btn-gradient {
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            position: absolute;
            height: theme("height.full");
            width: theme("width.2/3");
            transform: scale(theme("scale.0"));
            background-color: white;
            right: -20%;
            top: -25%;
            filter: blur(32px);
            transition: all 150ms;
            opacity: theme("opacity.50");
        }

        &:before {
            content: "";
            position: absolute;
            height: theme("height.full");
            width: theme("width.2/3");
            transform: scale(theme("scale.0"));
            background-color: white;
            left: -20%;
            bottom: -25%;
            filter: blur(32px);
            transition: all 150ms;
            opacity: theme("opacity.50");
        }

        &:hover {
            &:after {
                transform: scale(theme("scale.100"));
            }

            &:before {
                transform: scale(theme("scale.100"));
            }
        }
    }

    header {
        & nav:nth-child(2) {
            & ul {
                & li:nth-child(5) {
                    &:before {
                        /* Mobile navbar "Contact/Get in Touch" button separator */
                        content: "";
                        display: block;
                        width: theme("width.16");
                        height: theme("height.1");
                        margin: theme("spacing.5") auto;
                        background: theme("colors.trapped-darkness");
                        opacity: theme("opacity.10");
                        border-radius: theme("borderRadius.full");

                        @screen lg {
                            display: none;
                        }
                    }
                }
            }

            & .navbar-menu-button {
                & span {
                    transition:
                        width,
                        250ms ease-in-out;
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: rgb(11 31 42 / 0.75);
                    width: theme("width.5");
                    height: theme("height[0.5]");

                    transition-property: margin-bottom, transform;
                    transition-duration: 0s;

                    margin-bottom: theme("margin.[3.5]");
                }

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: rgb(11 31 42 / 0.75);
                    width: theme("width.5");
                    height: theme("height[0.5]");

                    transition-property: margin-top, transform;
                    transition-duration: 0s;

                    margin-top: theme("margin.[3.5]");
                }

                &.active {
                    /*position: relative;*/
                    /*justify-content: center;*/

                    & span {
                        width: 0;
                    }

                    &::after {
                        margin-bottom: 0;
                        width: theme("width.5");
                        transform: rotate(-45deg);

                        transition-delay: 0s, 100ms;
                        transition-duration: 0.2s;
                    }

                    &::before {
                        margin-top: 0;
                        width: theme("width.5");
                        transform: rotate(45deg);

                        transition-delay: 0s, 100ms;
                        transition-duration: 0.2s;
                    }
                }
            }
        }
    }
}

@layer utilities {
    .content-container {
        max-width: theme("maxWidth.7xl");
        padding: 0 theme("spacing.5");
        margin: 0 theme("margin.auto");
    }
}
